In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

In [15]:
data=pd.read_csv(r"D:\combined cycle power plant\Combine Cycle Power Plant.csv")

In [20]:
data.head()

     # T      V       AP     RH      EP
0   8.58  38.38  1021.03  84.37  482.26
1  21.79  58.20  1017.21  66.74  446.94
2  16.64  48.92  1011.55  78.76  452.56
3  31.38  71.32  1009.17  60.42  433.44
4   9.20  40.03  1017.05  92.46  480.38

In [17]:
data.describe()

               # T            V           AP           RH           EP
count  7176.000000  7176.000000  7176.000000  7176.000000  7176.000000
mean     19.629712    54.288154  1013.263032    73.275818   454.431293
std       7.475256    12.751468     5.964863    14.625093    17.134571
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.470000    41.740000  1009.010000    63.202500   439.737500
50%      20.315000    52.050000  1012.910000    74.895000   451.740000
75%      25.720000    66.540000  1017.302500    84.925000   468.667500
max      35.770000    81.560000  1033.300000   100.160000   495.760000

In [18]:
data.isnull().sum()

# T    0
 V     0
 AP    0
 RH    0
 EP    0
dtype: int64

In [30]:
X=data.drop(' EP',axis=1)
Y=data[' EP']
print(X.shape,Y.shape)

(7176, 4) (7176,)

In [31]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y)

In [36]:
scaler = StandardScaler()

scaler.fit(X_train)

X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [43]:
def  predict(X,m,c):
    
    return (m*X)+c

In [47]:
def step_gradient( X , Y , m , c , learning_rate ):
    
    n=X.shape[0]
    diff_bw_true_pred=Y-predict(X,m,c)
    
    for i in range(len(m)):
        
        k=np.sum(diff_bw_true_pred*X[i])
        m[i]=m[i] + ((2*k*learning_rate)/n)
    
    c=c+((2*learning_rate*np.sum(diff_bw_true_pred))/n)
    
    return m,c

In [37]:
def fit( X , Y , no_of_iterations , learning_rate ):
    
    m=np.zeros(X.shape[1],dtype=int)
    c=0
    
    for i in range(no_of_iterations):
        
        m,c=step_gradient(X,Y,m,c,learning_rate)
    
    return m,c

In [42]:
def cost(Y_true,Y_pred):
    
    n=Y_true.shape[0]
    
    square_of_diff_of_predictions=(Y_true-Y_pred)**2
    
    cost=(1/n)*np.sum(square_of_diff_of_predictions)
    
    return cost